<div class="d-flex flex-column col-6  registration-input-wrap m-auto">
  <div>
    <span class="mx-3">Текущий пароль</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>


  <div>
    <span class="mx-3">Новый пароль</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !NewPsw}"
           [(ngModel)]="NewPsw"/>
  </div>

  <div>
    <span class="mx-3">Повтор нового пароля</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <button [disabled]="!NewPsw ||!pswRepeat"
            (click)="registration($event)"
            type="button"
            class="btn btn-success">
      Сменить пароль</button>
  </div>

</div>
