<div class="d-flex flex-column password-input-wrap col-6  m-auto">
  <div>
    <span class="mx-3">Текущий пароль</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !psw}"
           [(ngModel)]="psw"/>
  </div>


  <div>
    <span class="mx-3">Новый пароль</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !newPsw}"
           [(ngModel)]="newPsw"/>
  </div>

  <div>
    <span class="mx-3">Повтор нового пароля</span>
    <input class="mt-3"
           type="password"
           pInputText
           [ngClass]="{'input-error': !pswRepeat || newPsw !== pswRepeat}"
           [(ngModel)]="pswRepeat"/>
  </div>
</div>

  <div class="mt-5 d-flex justify-content-center">
    <button [disabled]="!newPsw || !pswRepeat"
            (click)="PasswordChange($event)"
            type="button"
            class="btn btn-success">
      Сменить пароль</button>
  </div>


